.navbar ul{
    flex-wrap: wrap;
    justify-content: center;

}
.heading{
    font-size: 2.5rem;
}
.pic{
    flex-direction: column;
    align-items: center;
}
.pic img{
    width: 400px;
    height: 400px;

}
.into h2{
    text-align: center;
    padding: 10px;
}